$mainfont : 'Noto Sans KR Variable',
sans-serif !important;

body {
    overflow-x: hidden !important;
    overflow-y: visible;
}



.mainsec {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: black;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: $mainfont;
    font-weight: 500;
    line-height: 1.3;

}


ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

#Gnb {
    ul {
        li {
            @media (max-width:990px) {
                margin-top: 20px;
                margin-bottom: 20px;

            }

            a {
                color: #000;

                @media (max-width:990px) {
                    font-size: 2rem;

                }

                &:hover:not(#storelist a) {
                    transition: 0.3s;
                    color: #4ed3d7;
                }
            }

        }
    }


}

#hd {
    #Gnb ul {
        padding-left: 0;

        @media (max-width:990px) {
            li {
                font-size: 40px;
            }
        }
    }

    #Gnb a:not(#storelist a) {
        font-size: 18px;
        font-weight: 700;
    }

    @media (max-width:990px) {
        .mobile {
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;
        }

        h1 {
            width: 0 !important;
        }





    }

    h1 {
        width: auto;
    }


    #Logo a {
        display: block;
        max-width: 146px !important;
        width: 30vw;

        &::after {
            content: "";
            display: block;
            height: 0;
            padding-top: 38%;
            background-image: url(../../public/assets/icon/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }








    .mobile_tbtn {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: #fff;
        position: fixed;
        opacity: 0;
        right: 30px;
        bottom: 5%;
        cursor: pointer;
        text-align: center;
        padding-top: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transition: 0.3s;

        img {
            width: 30px;
            height: 30px;
        }
    }




    .fixed-right {
        position: fixed;
        opacity: 0;
        right: 30px;
        bottom: 45%;
        z-index: 9999;
        cursor: pointer;
        text-align: center;
        padding: 15px 12px;
        background-color: #fff;
        border-radius: 40px;
        transition: 0.3s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);





    }



    &.down {

        .fixed-right,
        .mobile_tbtn {
            opacity: 1;
        }
    }
}

#Login {
    top: 10px;
    right: 5%;



    a {
        font-size: 20px;
    }

    @media (max-width:990px) {
        position: unset !important;
    }
}

//review//
.sec_line {
    width: 60px;
    height: 1px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 25px;
}

.sec_title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 65px;
    color: #555;
    line-height: 1.5em;

    h2 {
        font-size: 35px;
        margin-bottom: 25px;
        font-weight: 600;
        color: #000;
    }


}


.mli {
    max-width: 310px !important;
    max-height: 420px !important;

    img {
        margin-top: 10px;
    }
}

.re_info {
    max-width: 310px;
}


#player {
    width: 100vw;
    height: 60vw;
}

#main_review {
    margin-top: 80px;
}



#Main_story a {
    display: block;
    background-image: url(../../public/assets/aosimg/aos1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 1%;

    @media (max-width:990px) {
        background-image: url(../../public/assets/aosimg/main_mobile.jpg);
        height: 300px;
        background-size: cover;
        background-position: center;
    }

}

#main_promo .fadeInRight {
    padding-right: 0.5%;
    margin-bottom: 2%;
}

#main_promo .fadeInLeft {
    padding-left: 0.5%;
    margin-bottom: 2%;
}

// #Member_benefit a {
//     display: block;
//     height: 400px;
//     background-image: url(../../public/assets/aosimg/aosm.jpg);
//     background-size: cover;
//     background-position: center;
// }

.award h3 {
    font-size: 1.5rem;
}

.footer_icon img {
    width: 40px;

}

.footer_menu {
    padding: 0;

    @media (max-width:990px) {
        margin-right: 50px;
        margin-top: 20px
    }
}

.footer_box {
    @media (max-width:990px) {
        text-align: center;
    }
}

.footer a,
.footer_menu a {
    color: #000;
}

// .footer_menu a:nth-child(even) {
//     font-size: 19px;
// }


#Product ul li {
    width: 80px;
    height: 40px;
    line-height: 36px;
    border-radius: 20px;
    cursor: pointer;

    &.on {
        background-color: #e4efc7;
        opacity: .8;
        transition: 1s;
    }
}

#menuicon {

    width: 30px;
    height: 30px;
    cursor: pointer;


    img {
        width: 30px;
        height: 30px;
    }
}

#Mainswiper .swipermobile {
    margin-top: 4rem;
}

.brandstory {
    margin-top: 250px;

    @media (max-width:990px) {
        margin-top: 120px;
    }

    img {
        margin-bottom: 150px;

        @media (max-width:990px) {
            margin-bottom: 30px;


        }
    }

    strong {
        font-size: 1.1rem;
        font-family: $mainfont;
        font-weight: 600;

    }

    p {
        font-size: 1.1rem;
        display: block;
        margin-top: 1rem;
        font-family: $mainfont;
        font-weight: 400;
    }

    .mtext {
        @media (max-width:990px) {
            margin-bottom: 50px;
            text-align: center;

        }
    }
}

.award ul {
    padding-left: 0;
}

#Mainswiper .swiper-pagination {
    height: 40px;

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: transparent;
        border: 2px solid #fff;

        opacity: .7;
    }



}



#Mainswiper .swiper-pagination-bullet-active {
    width: 35px !important;
    transition: width 0.5s !important;
    border-radius: 30px;
    // background-color: #000 !important;
    border: 2px solid #000;
    opacity: 1 !important;


}

#Mainswiper .swiper-button-prev,
#Mainswiper .swiper-button-next {
    top: 60%;
    color: #ccc;

    @media (max-width:990px) {
        display: none;

    }
}

#storelist {
    height: 0;
    overflow: hidden;
    transition: .5s;



    .d2li {
        li {
            line-height: 2.5rem;
            font-size: 0.9rem;
            margin-top: 10px;
            font-weight: 300 !important;
        }
    }
}



.bimg img {

    padding-top: 30px;
    width: 400px;

}


#Gnb .storelist:hover #storelist {
    transition: .5s;
    height: 320px;

    @media (max-width:990px) {
        height: 0;
    }
}

.d1li {
    top: 100%;
}

#storelist.colpx {
    @media (max-width:1420px) {}
}

.mt-10 {
    margin-top: 300px !important;
}