body {
  overflow-x: hidden !important;
  overflow-y: visible;
}

.mainsec {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: black;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR Variable", sans-serif !important;
  font-weight: 500;
  line-height: 1.3;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

@media (max-width: 990px) {
  #Gnb ul li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#Gnb ul li a {
  color: #000;
}
@media (max-width: 990px) {
  #Gnb ul li a {
    font-size: 2rem;
  }
}
#Gnb ul li a:hover:not(#storelist a) {
  transition: 0.3s;
  color: #4ed3d7;
}

#hd #Gnb ul {
  padding-left: 0;
}
@media (max-width: 990px) {
  #hd #Gnb ul li {
    font-size: 40px;
  }
}
#hd #Gnb a:not(#storelist a) {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 990px) {
  #hd .mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  #hd h1 {
    width: 0 !important;
  }
}
#hd h1 {
  width: auto;
}
#hd #Logo a {
  display: block;
  max-width: 146px !important;
  width: 30vw;
}
#hd #Logo a::after {
  content: "";
  display: block;
  height: 0;
  padding-top: 38%;
  background-image: url(../../public/assets/icon/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#hd .mobile_tbtn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fff;
  position: fixed;
  opacity: 0;
  right: 30px;
  bottom: 5%;
  cursor: pointer;
  text-align: center;
  padding-top: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
#hd .mobile_tbtn img {
  width: 30px;
  height: 30px;
}
#hd .fixed-right {
  position: fixed;
  opacity: 0;
  right: 30px;
  bottom: 45%;
  z-index: 9999;
  cursor: pointer;
  text-align: center;
  padding: 15px 12px;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#hd.down .fixed-right,
#hd.down .mobile_tbtn {
  opacity: 1;
}

#Login {
  top: 10px;
  right: 5%;
}
#Login a {
  font-size: 20px;
}
@media (max-width: 990px) {
  #Login {
    position: unset !important;
  }
}

.sec_line {
  width: 60px;
  height: 1px;
  background-color: #555;
  margin: 0 auto;
  margin-top: 25px;
}

.sec_title {
  text-align: center;
  font-size: 17px;
  margin-bottom: 65px;
  color: #555;
  line-height: 1.5em;
}
.sec_title h2 {
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #000;
}

.re_box {
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .re_box {
    width: 310px !important;
  }
}

#player {
  width: 100vw;
  height: 60vw;
}

#main_review {
  margin-top: 80px;
}

#Main_story a {
  display: block;
  background-image: url(../../public/assets/aosimg/aos1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-bottom: 1%;
}
@media (max-width: 990px) {
  #Main_story a {
    background-image: url(../../public/assets/aosimg/main_mobile.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
  }
}

#main_promo .fadeInRight {
  padding-right: 0.5%;
  margin-bottom: 2%;
}

#main_promo .fadeInLeft {
  padding-left: 0.5%;
  margin-bottom: 2%;
}

.award h3 {
  font-size: 1.5rem;
}

.footer_icon img {
  width: 40px;
}

.footer_menu {
  padding: 0;
}
@media (max-width: 990px) {
  .footer_menu {
    margin-right: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 990px) {
  .footer_box {
    text-align: center;
  }
}

.footer a,
.footer_menu a {
  color: #000;
}

#Product ul li {
  width: 80px;
  height: 40px;
  line-height: 36px;
  border-radius: 20px;
  cursor: pointer;
}
#Product ul li.on {
  background-color: #e4efc7;
  opacity: 0.8;
  transition: 1s;
}

#menuicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#menuicon img {
  width: 30px;
  height: 30px;
}

#Mainswiper .swipermobile {
  margin-top: 4rem;
}

.brandstory {
  margin-top: 250px;
}
@media (max-width: 990px) {
  .brandstory {
    margin-top: 120px;
  }
}
.brandstory img {
  margin-bottom: 150px;
}
@media (max-width: 990px) {
  .brandstory img {
    margin-bottom: 30px;
  }
}
.brandstory strong {
  font-size: 1.1rem;
  font-family: "Noto Sans KR Variable", sans-serif !important;
  font-weight: 600;
}
.brandstory p {
  font-size: 1.1rem;
  display: block;
  margin-top: 1rem;
  font-family: "Noto Sans KR Variable", sans-serif !important;
  font-weight: 400;
}
@media (max-width: 990px) {
  .brandstory .mtext {
    margin-bottom: 50px;
    text-align: center;
  }
}

.award ul {
  padding-left: 0;
}

#Mainswiper .swiper-pagination {
  height: 40px;
}
#Mainswiper .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #fff;
  opacity: 0.7;
}

#Mainswiper .swiper-pagination-bullet-active {
  width: 35px !important;
  transition: width 0.5s !important;
  border-radius: 30px;
  border: 2px solid #000;
  opacity: 1 !important;
}

#Mainswiper .swiper-button-prev,
#Mainswiper .swiper-button-next {
  top: 60%;
  color: #ccc;
}
@media (max-width: 990px) {
  #Mainswiper .swiper-button-prev,
  #Mainswiper .swiper-button-next {
    display: none;
  }
}

#storelist {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
#storelist .d2li li {
  line-height: 2.5rem;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 300 !important;
}

.bimg img {
  padding-top: 30px;
  width: 400px;
}

#Gnb .storelist:hover #storelist {
  transition: 0.5s;
  height: 320px;
}
@media (max-width: 990px) {
  #Gnb .storelist:hover #storelist {
    height: 0;
  }
}

.d1li {
  top: 100%;
}