$mainfont : 'Noto Sans KR Variable',
sans-serif !important;
$maincolor : #4ed3d7;

body {
    overflow-x: hidden !important;
    overflow-y: visible;
}



.mainsec {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: black;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: $mainfont;
    font-weight: 500;
    line-height: 1.3;

}


ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

#Gnb {
    ul {
        li {
            @media (max-width:990px) {
                margin-top: 20px;
                margin-bottom: 20px;

            }

            a {
                color: #000;

                @media (max-width:990px) {
                    font-size: 2rem;

                }

                &:hover:not(#storelist a) {
                    transition: 0.3s;
                    color: $maincolor;
                }
            }

        }
    }


}

#hd {
    #Gnb ul {
        padding-left: 0;

        @media (max-width:990px) {
            li {
                font-size: 40px;
            }
        }
    }

    #Gnb a:not(#storelist a) {
        font-size: 18px;
        font-weight: 700;
    }

    @media (max-width:990px) {
        .mobile {
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;
        }

        h1 {
            width: 0 !important;
        }





    }

    h1 {
        width: auto;
    }


    #Logo a {
        display: block;
        max-width: 146px !important;
        width: 30vw;

        &::after {
            content: "";
            display: block;
            height: 0;
            padding-top: 38%;
            background-image: url(../../public/assets/icon/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }








    .mobile_tbtn {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: #fff;
        position: fixed;
        opacity: 0;
        right: 30px;
        bottom: 5%;
        cursor: pointer;
        text-align: center;
        padding-top: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transition: 0.3s;

        img {
            width: 30px;
            height: 30px;
        }
    }




    .fixed-right {
        position: fixed;
        opacity: 0;
        right: 30px;
        bottom: 45%;
        z-index: 9999;
        cursor: pointer;
        text-align: center;
        padding: 15px 12px;
        background-color: #fff;
        border-radius: 40px;
        transition: 0.3s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);





    }



    &.down {

        .fixed-right,
        .mobile_tbtn {
            opacity: 1;
        }
    }
}

#Login {
    top: 10px;
    right: 5%;



    a {
        font-size: 20px;
    }

    @media (max-width:990px) {
        position: unset !important;
    }
}

//review//
.sec_line {
    width: 60px;
    height: 1px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 25px;
}

.sec_title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 65px;
    color: #555;
    line-height: 1.5em;

    h2 {
        font-size: 35px;
        margin-bottom: 25px;
        font-weight: 600;
        color: #000;
    }


}


.mli {
    max-width: 310px !important;
    max-height: 420px !important;

    img {
        margin-top: 10px;
    }
}

.re_info {
    max-width: 310px;
}


#player {
    width: 100vw;
    height: 60vw;
}

#main_review {
    margin-top: 80px;
}



#Main_story a {
    display: block;
    background-image: url(../../public/assets/aosimg/aos1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 1%;

    @media (max-width:990px) {
        background-image: url(../../public/assets/aosimg/main_mobile.jpg);
        height: 300px;
        background-size: cover;
        background-position: center;
    }

}

#main_promo .fadeInRight {
    padding-right: 0.5%;
    margin-bottom: 2%;
}

#main_promo .fadeInLeft {
    padding-left: 0.5%;
    margin-bottom: 2%;
}

// #Member_benefit a {
//     display: block;
//     height: 400px;
//     background-image: url(../../public/assets/aosimg/aosm.jpg);
//     background-size: cover;
//     background-position: center;
// }

.award h3 {
    font-size: 1.5rem;
}

.footer_icon img {
    width: 40px;

}

.footer_menu {
    padding: 0;

    @media (max-width:990px) {
        margin-right: 50px;
        margin-top: 20px
    }
}

.footer_box {
    @media (max-width:990px) {
        text-align: center;
    }
}

.footer a,
.footer_menu a {
    color: #000;
}

// .footer_menu a:nth-child(even) {
//     font-size: 19px;
// }


#Product ul li {
    width: 80px;
    height: 40px;
    line-height: 36px;
    border-radius: 20px;
    cursor: pointer;

    &.on {
        background-color: #e4efc7;
        opacity: .8;
        transition: 1s;
    }
}

#menuicon {

    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(../img/icon/icon_menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &.on {
        background-image: url(../img/icon/icon_close.svg);
    }

    &.on+#Gnb {
        display: block !important;
    }
}




#Mainswiper .swipermobile {
    margin-top: 4rem;
}

.brandstory {
    margin-top: 250px;

    @media (max-width:990px) {
        margin-top: 120px;
    }

    img {
        margin-bottom: 150px;

        @media (max-width:990px) {
            margin-bottom: 30px;


        }
    }

    strong {
        font-size: 1.1rem;
        font-family: $mainfont;
        font-weight: 600;

    }

    p {
        font-size: 1.1rem;
        display: block;
        margin-top: 1rem;
        font-family: $mainfont;
        font-weight: 400;
    }

    .mtext {
        @media (max-width:990px) {
            margin-bottom: 50px;
            text-align: center;

        }
    }
}

.award ul {
    padding-left: 0;
}

#Mainswiper .swiper-pagination {
    height: 40px;

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: transparent;
        border: 2px solid #fff;

        opacity: .7;
    }



}



#Mainswiper .swiper-pagination-bullet-active {
    width: 35px !important;
    transition: width 0.5s !important;
    border-radius: 30px;
    // background-color: #000 !important;
    border: 2px solid #000;
    opacity: 1 !important;


}

#Mainswiper .swiper-button-prev,
#Mainswiper .swiper-button-next {
    top: 60%;
    color: #ccc;

    @media (max-width:990px) {
        display: none;

    }
}

#storelist {
    height: 0;
    overflow: hidden;
    transition: .5s;



    .d2li {
        li {
            line-height: 2.5rem;
            font-size: 0.9rem;
            margin-top: 10px;
            font-weight: 300 !important;

            a:hover {
                transition: .5s;
                color: $maincolor !important;
            }
        }
    }
}



.bimg img {

    padding-top: 30px;
    width: 400px;


}


#Gnb .storelist:hover #storelist {
    transition: .5s;
    height: 320px;

    @media (max-width:990px) {
        height: 0;
    }
}

.d1li {
    top: 100%;
}

#storelist.colpx {
    @media (max-width:1420px) {}
}

.mt-10 {
    margin-top: 300px !important;
}

.myForm {
    background-color: #FBFBF9;
    padding: 5% 5%;
    justify-content: center;
    margin-bottom: 50px;

    .myFormDiv {
        margin: 0 auto;
        max-width: 600px;



        .effectiveness {
            color: #ff0000;
            font-size: 13px;
        }



        h5 {
            word-break: keep-all;
        }

        .choice {
            font-size: 14px;
            color: #979797;
            margin-left: 4px;
        }

        #information,
        #marketing {
            margin-right: 4px;
        }


    }

    .formtag {
        width: 300px;
    }

}

.btn-4 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 60px;
    padding: 0;
    border: none;

}

.btn-4:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn-4 span {

    color: white;
    position: relative;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 45px;
}

.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4:before {
    height: 0%;
    width: .1px;
}

.btn-4:after {
    width: 0%;
    height: .1px;
}

.btn-4:hover:before {
    height: 100%;
}

.btn-4:hover:after {
    width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4 span:before {
    width: .1px;
    height: 0%;
}

.btn-4 span:after {
    width: 0%;
    height: .1px;
}

.btn-4 span:hover:before {
    height: 100%;
}

.btn-4 span:hover:after {
    width: 100%;
}

.storeul {
    li a {
        font-size: 20px !important;
        color: black;
    }

    a:hover {
        color: $maincolor !important;
    }


}

.storesec {
    margin-top: 250px;

    @media (max-width:972px) {
        margin-top: 120px;
    }
}

.searchicon {
    cursor: pointer;
}

.showsearch {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 5000;

}

.closesearch,
.closesearch img {
    cursor: pointer;

    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-200%) !important;


}

body.dim {
    overflow: hidden;

    .showsearch {
        display: flex;
        justify-content: center;
        align-items: center;

        .field {
            position: relative;
            max-width: 680px;
            width: calc(100vw - 30px); //양쪽 15px씩
            min-width: 260px;

            legend {
                display: none;
            }
        }



    }


}

body.dim:after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 4999;
}

.showsearch input {
    border: none;
    background-color: transparent;

}

.showsearch .closesearch {
    background-color: transparent;
    color: white;
    border: none;
}

.activesearch {
    cursor: pointer;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
    align-items: center;
    border-bottom: 2px solid #fff;

    input {
        width: calc(100vw - 25px);

        &:focus-visible {
            outline: none !important;
        }
    }


}

.closebtn .btn-4 {
    width: 250px;
    border-radius: 30px;
    color: white;
}